%% Config file for exo application
{deps, [dthread]}.
%% {erl_opts, [debug_info, fail_on_warning, {d,debug}]}.
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.

{port_env, [
	    {"CFLAGS", "$CFLAGS -I ../dthread/include"},
	    {"LDFLAGS", "$LDFLAGS ../dthread/c_src/dlib.o ../dthread/c_src/dterm.o ../dthread/c_src/dthread.o"},
	    {"LDFLAGS", "$LDFLAGS -lopkg"}
	   ]}.
{port_specs, [
	      {"(linux|freebsd|darwin)","priv/opkg_drv.so",["c_src/*.c"]}
	     ]}.
